body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	font-size: 200%;
}
header{
	background:#00795f;
	width:100%;
	padding:40px 0;
	color:white;
	text-align:center;
	font-size: 200%;
}
a{
	text-decoration:none;
	color:inherit;
	font-size: 200%;
}
section{
	background-color:#43a286;
	overflow:hidden;
	color:white;
	padding:0;
	text-align:center;
	margin:0;
	font-size: 200%;
}
nav ul{
	background-color:#43a286;
	overflow:hidden;
	color:white;
	padding:0;
	text-align:center;
	margin:0;
}
nav ul li{
	display:inline-block;
	padding:20px;
}
nav ul li:hover{
	background-color:#399077;
}
section{
	line-height:1.5em;
	font-size:0.9em;
	padding:40px;
	width:75%;
	margin:0 auto;
}
.profile-photo{
		width:170px;
		height:220px;
	}
	
#work{
background-color:#90EE90;
}
section.works{
background-color:#90EE90;
}
#projects{
background-color:#90EE90;
}
.size{
font-family:Arial, Helvetica, sans-serif;
font-size: 200%;
line-height:200%;
}
.name{
font-family:Arial, Helvetica, sans-serif;
font-size: 200%;
line-height:100%;
}
#8FBC8F
